<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button [routerLink]="['/']" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.22.2222</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat voluptatem rem architecto corporis ratione officiis quia quidem consequatur, voluptatum a maiores mollitia animi tempore ducimus dolorem similique distinctio modi perspiciatis porro cupiditate. Dicta soluta sed magni eos mollitia, facere ipsa temporibus quia maiores aperiam dignissimos cupiditate ipsum et blanditiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat voluptatem rem architecto corporis ratione officiis quia quidem consequatur, voluptatum a maiores mollitia animi tempore ducimus dolorem similique distinctio modi perspiciatis porro cupiditate. Dicta soluta sed magni eos mollitia, facere ipsa temporibus quia maiores aperiam dignissimos cupiditate ipsum et blanditiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat voluptatem rem architecto corporis ratione officiis quia quidem consequatur, voluptatum a maiores mollitia animi tempore ducimus dolorem similique distinctio modi perspiciatis porro cupiditate. Dicta soluta sed magni eos mollitia, facere ipsa temporibus quia maiores aperiam dignissimos cupiditate ipsum et blanditiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat voluptatem rem architecto corporis ratione officiis quia quidem consequatur, voluptatum a maiores mollitia animi tempore ducimus dolorem similique distinctio modi perspiciatis porro cupiditate. Dicta soluta sed magni eos mollitia, facere ipsa temporibus quia maiores aperiam dignissimos cupiditate ipsum et blanditiis.</p>
    </div>
</div>
